[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
trustify = "GwMcGoxFd3ExF1QPA7qF9CjuN1ot4cMhTp5DyFs6z66R"

[programs.devnet]
trustify = "GwMcGoxFd3ExF1QPA7qF9CjuN1ot4cMhTp5DyFs6z66R"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
